body {
    font-family: 'Montserrat', sans-serif;
background-color: #f5f7fa

}


.about-me {
    margin-bottom: 40px;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color:#000;
    margin-bottom: 20px;
}

.main-container{
display: flex;
flex-direction: row-reverse;
width: 1200px;
background-color: #fff;
margin: 40px auto ;
box-shadow: 6px 6px 20px

}
/* main content */
.main-content{
    padding: 100px 90px;
}

.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color:#000;
    margin-bottom: 25px;
}

.about-me-description{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects{
    margin-bottom: 50px;
}

.my-projects-list{
    padding: 0 0 0 17px;
}

.my-projetcs-text{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
    
}
.my-projects-link{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.my-projects-bracket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;

}

.my-projects-item{
    color:#000;
    font-weight: bold;


}

.my-work-company{
    color: #FB6D3A;
    
}
.my-work-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
    
}
.my-work-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

.my-work-divider{
    color: #000;
}

.my-work-duties{
    padding:0 0 0 17px;
}

.my-work-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-work-company-head{
    margin: 0 15px 0 0;
}

.my-education-duty{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
/* sidebar */
.sidebar {
background-color: #1e2939;
width: 370px;
padding: 40px 0px;
}

.contacts,
.tech-skills,
.soft-skills{
    margin: 50px 0 0 40px;
}



.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}
/* contacts */
.contacs-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;
}

.contacs-section-link{
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
/* tech skills list*/
.tech-skills-list,
.soft-skills-list {
    padding: 0 0 0 16px;
}

.tech-skills-item,
.soft-skills-list{
    color: #fb6d3a;
}

.tech-skills-item-text,
.soft-skills-item-text
{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;

}

.pic {
width: 370px;


}